/*--
    dates start
--*/
.dates {
  text-align: center;
}

.dates .block {
  margin-bottom: 50px;
}

.dates .block i {
  font-size: 30px;
  display: inline-block;
  margin-bottom: 15px;
  color: #1bafb4;
}

.dates .block h3 {
  color: #333333;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dates .block p {
  color: #666;
}
