{{ if .Site.Params.team.enable }}
    {{"<!-- Dates Section -->" | safeHTML}}
    <section id="team" class="team section">
        <div class="container">
            <div class="row">
                <div class="heading wow">
                    {{ with .Site.Params.team.title }}
                        <h2>{{ . }}</h2>
                    {{ end }}
                    {{ with .Site.Params.team.subtitle }}
                        <p>{{ . }}</p>
                    {{ end }}
                </div>
                {{ range .Site.Params.team.teamItem }}
                    <div class="col-sm-6 col-md-4 wow" data-wow-delay="{{ .delay }}">
                        <div class="block">
                            <i class="{{ .icon }}"></i>
                            <h3>{{ .title }}</h3>
                            <p>{{ .description }}</p>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}
